.bottom-sheet {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .backdrop {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .bottom-sheet-content {
    position: relative;
    height: 100%;
    .bottom-sheet-card {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(
        160deg,
        rgba(251, 237, 201, 1) 20%,
        rgba(174, 230, 203, 1) 70%
      );
      border-radius: 16px 16px 0 0;
      z-index: 99;
      &.slide-up {
        transition: all 0.3s;
        height: 0;
      }
    }
  }
}
